@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: #3a6cf4;
  --background: #1d2e5e;
  --hover: #3157c7;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: rgb(246, 247, 248);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

header > a {
  text-decoration: none;
  color: var(--text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: var(--hover);
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--background);
  background-attachment: fixed;
}

.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 0.625rem;
  color: var(--text);
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}
.main-ptn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  background-color: var(--text);
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.9375rem 2.1875rem;
  border-radius: 0.9375rem;
  margin-bottom: 2.5rem;

  transition: all 0.5s ease-in;
}

.main-ptn:hover {
  background-color: var(--hover);
  transform: scale(1.1);
}

.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}

.social-icons a:hover {
  transform: scale(1.1);
  color: var(--hover);
}

.title {
  display: flex;
  justify-content: center;
  color: var(--text);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 1.875rem;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card{
    background-color: #fff;
    width: 21.25em;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 .3125rem 25px rgba(1, 1, 1, 0.5);
    transition: all 0.5s;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 .3125rem 25px rgba(1, 1, 1, 1);

}
.card .icon{
    text-align: center;
    padding: 10px;
    font-size: 8em;
    color: #3a6cf4;
}
.info{
  text-align: center;
}
.card .info h3{
    color: var(--text);
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px;
}

.projects{
 background-color: var(--background);
}
.projects .content{
  margin-top: 30px;
}

.projects .projectCard{
  background-color: #fff;
  border: 1px white solid;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: all 0.7s ease;
}
.projects .projectCard:hover{
transform: scale(1.1);
}

.projects .projectCard:hover .progjectImg{
  opacity: 0.9;
  }
.progjectImg img{
  width: 100%;
}
.projectInfo{
  padding: 1em;
  display: flex;  
  justify-content:space-between ;
  text-transform: uppercase;
  margin-top: 10px;
}
 .projectInfo a {
  text-decoration: none;
  color: var(--text);
 }
 .projectInfo a:hover {
  color: var(--hover);
 }
 
 .contact .icon{
  font-size: 4.5em;
 }

 .contact .info h3{
  color: black;
 }
 .footer{
  background-color: var(--background);
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-around;
 }

 .footer p{
  font-size: 1.3em;
  font-weight: 600;
 }
 .footer span{
  color: var(--text);
 }

 .skillsCart{
  width: 25%;
 }
 .SkillImg {
  font-size: 9em;
  text-align: center;
 }
 .skillsCart {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
 .skillsCart:hover {
  transform: scale(1.2);

  box-shadow: rgba(49, 87, 199, 0.2) 5px 5px, rgba(49, 87, 199, 0.4) 10px 10px,
  rgba(49, 87, 199, 0.6) 15px 15px,
  rgba(49, 87, 199, 0.8) 20px 20px,
  rgba(49, 87, 199, 1) 25px 25px;  

}
 .skillName{
  text-align: center;
 }


 .skillsCart{
  padding-top: 20px;
 }
 .bashSkillImg img{
  width: 50%;
  
  
 }
 .bashSkillImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;  
 }

 .CSkillImg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
   }
 .CSkillImg img{
  width: 55%;
  filter: grayscale(100%);
 }
 .skills .skillsCart{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
 }

 .dgSkillImg{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 30%;
 }
.dgSkillImg img{
  padding-top: 50px;
  width: 100%;
  filter: brightness(0);

}
 @media (max-width:1023px) {
  .skillsCart{
    width: 100%;
   }
  header{
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
  }
  .title{
    font-size: 1.8em;
  }
  section{
    padding: 80px 20px;
  }
  .content{
    flex-direction: column;
    align-items: center;

  }
 }
 
 @media (max-width:641px){
  body{
    font-size: 12px;
  }
 }
  
 @media (max-width:300px){
  body{
    font-size: 10px;
  }
 }